.container {
	background-color: var(--hover);
	padding: 24px;
	border-radius: 32px;
}

.wrapper {
	background-color: var(--white);
	border-radius: 16px;
	padding: 16px;
	box-shadow: var(--box-shadow);
}
