.selectWrapper {
	display: flex;
	gap: 16px;
	font-weight: 500;
	align-items: center;
}

.selectBox {
	width: 200px;
	height: 40px;
	font-size: 14px;
	border-radius: 12px;
	padding-left: 16px;

	background-color: var(--grey-10);
	background-image: url('/svgs/caret-down.svg');
	background-repeat: no-repeat;
	background-position-x: 98%;
	background-position-y: 4px;
}

.link {
	text-decoration: none;
	cursor: pointer;
}
