.container {
	display: flex;
	flex-direction: column;
	padding: 32px 32px 0 32px;
	gap: 24px;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo {
	width: 180px;
	cursor: pointer;
}

.wrapper {
	display: flex;
	gap: 24px;
	margin-top: 6px;
}

.editor {
	border-radius: 16px;
	font-size: 16px;
}

.features {
	display: flex;
	flex-direction: column;
	gap: 25px;
	flex-grow: 1;
}

.topWrapper {
	border-radius: 16px;
	box-shadow: var(--box-shadow);
	padding: 24px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 24px;
	border: var(--border);
}

.toggleWrapper {
	display: flex;
	justify-content: space-between;
}

.linksWrapper {
	display: flex;
}

.toggle,
.submissions {
	font-size: 18px;
	line-height: 34px;
	cursor: pointer;
}

.toggle:hover,
.submissions:hover {
	border-bottom: 4px solid #b235ff3e;
}

.submissions img {
	transform: rotate(0deg);
	transition: transform 0.5s;
}

.submissions:hover img {
	transform: rotate(45deg);
}

.submissions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4px;
	height: fit-content;
	font-weight: 500;
}

.feature {
	height: 100%;
}

.notes {
	background-color: var(--grey-10);
	border-radius: 8px;
	flex-grow: 1;
	padding: 12px;
	height: calc(100% - 24px);
}

.textarea {
	font-size: 16px;
	resize: none;
	width: 99%;
	height: 98%;
	background-color: transparent;
}

.previousSubmissionWrapper {
	display: flex;
	flex-direction: column;
	margin-top: 24px;
}

.stopwatchContainer {
	height: 300px;
	background-image: repeating-conic-gradient(from 359deg, #555 0 2deg, transparent 2deg 90deg),
		repeating-conic-gradient(from 359.5deg, #555 0 1deg, transparent 1deg 30deg),
		repeating-conic-gradient(from 359.75deg, #ccc 0 0.5deg, transparent 0.5deg 6deg);
	mask-image: radial-gradient(circle at center, transparent 66%, #fff 66.1%);
}

.timeTaken {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	font-size: 32px;
}

.timeTaken img {
	height: 68px;
}

.timeTakenHeading {
	font-size: 24px;
	color: var(--grey-50);
	margin: 12px 0 12px 0;
}
