.googleContainer,
.randomContainer {
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	width: fit-content;
	border: var(--border);
	border-radius: 16px;
	box-shadow: var(--box-shadow);
	cursor: pointer;
}

.googleContainer {
	padding: 12px 24px;
	gap: 14px;
}

.randomContainer {
	padding: 11px 20px;
	gap: 10px;
	background-color: var(--black);
	color: var(--white);
}
