.container {
    width: 527px;
    height: 105px;
    position: absolute;
    top: 50px;
    left: 270px;
}

.titlewrapper {
    width: Hug (397px);
    height: Hug (83px);
    gap: 30px;
    display: flex;

}

.caption {
    width: 410px;
    height: 22px;
    position: absolute;
    top: 65px;
    left: 95px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #00000080;
}

.title {
    width: 280px;
    height: 61px;
    font-size: 40px;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
}
.imagecontainer {
    width: Hug (87px);
    height: Hug (83px);
    padding: 11px, 13px, 11px, 13px;
    border-radius: 20px;
    gap: 10px;

    background: #FFF1C5;

}
.logo {
    width: 61px;
    height: 61px;
}
