.container,
.containerNoClick {
	display: flex;
	padding: 16px;
	align-items: center;
	justify-content: space-between;
	border-bottom: var(--border);
}

.containerNoClick {
	border-bottom: 3px solid var(--grey-20);
}

.container:hover {
	background-color: var(--hover);
	cursor: pointer;
}

.leftWrapper {
	display: flex;
	gap: 24px;
	align-items: center;
}

.problemNumber {
	width: 80px;
	text-align: center;
	font-size: 30px;
	font-weight: 300;
}

.titleWrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.title {
	white-space: nowrap;
	font-size: 18px;
	width: 31.3vw;
	text-overflow: ellipsis;
}

.title::-webkit-scrollbar {
	display: none;
}

.tagsWrapper {
	display: flex;
	gap: 8px;
	height: 25px;
	width: 31.3vw;
	overflow-x: scroll;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

.tagsWrapper::-webkit-scrollbar {
	display: none;
}

.rightWrapper {
	display: flex;
	gap: 32px;
	align-items: center;
}
