.container {
	display: flex;
	flex-direction: column;
	box-shadow: var(--box-shadow);
	border-radius: 16px;
	width: 100%;
}

.inputWrapper {
	display: flex;
	padding: 16px;
	gap: 16px;
	justify-content: space-between;
}

.inputWrapper input {
	font-size: 18px;
	width: 100%;
}
