.container {
	padding: 24px;
	border-radius: 32px;
	box-shadow: var(--box-shadow);
}

.wrapper {
	display: flex;
}

.easy,
.noEasy {
	border-top-left-radius: 16px;
	border-bottom-left-radius: 16px;
	background-color: var(--easy);
	height: 26px;
}

.medium,
.noMedium {
	background-color: var(--medium);
	height: 26px;
}

.hard,
.noHard {
	background-color: var(--hard);
	border-top-right-radius: 16px;
	border-bottom-right-radius: 16px;
	height: 26px;
}

.noEasy {
	background-color: var(--no-easy);
}

.noMedium {
	background-color: var(--no-medium);
}

.noHard {
	background-color: var(--no-hard);
}
