.logo {
	position: absolute;
	top: calc(50% - 150px);
	left: 50%;
	transform: translate(-50%, -50%);
}

.containerWithoutSearch {
	display: flex;
	flex-direction: column;
	box-shadow: var(--box-shadow);
	border-radius: 16px;
	width: 48vw;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.containerWithSearch {
	display: flex;
	flex-direction: column;
	box-shadow: var(--box-shadow);
	border-radius: 16px;
	width: 48vw;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.inputWrapper {
	display: flex;
	padding: 16px;
	gap: 16px;
	justify-content: space-between;
}

.inputWrapper input {
	width: 100%;
}

.googleSignIn {
	position: absolute;
	right: 32px;
	top: 32px;
}

.inputBorder {
	border-bottom: var(--border);
	height: 1px;
	width: calc(48vw - 16px);
	align-self: center;
}
