.searchWrapper {
	display: flex;
	gap: 24px;
	align-items: center;
}

.problemsWrapper {
	display: flex;
	flex-direction: column;
	margin-top: 32px;
}

.problems {
	display: flex;
	flex-direction: column;
}
