.container {
	display: flex;
}

.nameChange {
	display: flex;
	gap: 40px;
}

.nameChange input {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: var(--box-shadow);
	border-radius: 16px;
	border: var(--border);

	font-size: 18px;
	width: 250px;

	height: 50px;

	padding-left: 18px;
}

.theme-wrapper {
	margin-top: 32px;
}

.themeToggleWrapper {
	margin-top: 16px;
	display: flex;
	gap: 10px;
}

.submitButton {
	cursor: pointer;
}

/* toggle theme */

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	border: 2px solid var(--black);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.L {
	background-color: var(--white);
}

.D {
	color: var(--white);
	background-color: var(--black);
}
