.container {
    display: flex;
}
.userName {
	display: flex;
	flex-direction: column;
	box-shadow: var(--box-shadow);
	border-radius: 16px;
	width: 25%;
	border: var(--border);
}

.user-wrapper {
    display: flex;
    gap:40px;
}

.inputWrapper {
	display: flex;
    flex-grow: 0;
	padding: 14px 0 14px 18px;
	justify-content: space-between;
}

.inputWrapper input {
	font-size: 18px;
	width: 100%;
	background-color: var(--white);
}

.theme-wrapper{
    margin-top: 32px;
}

.themeToggleWrapper {
    margin-top: 16px;
    display: flex;
    gap: 10px;
}

.submitButton {
    cursor: pointer;
	/* background-color: var(--black); */
}